/* Estilos generales 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}

Estilos para el encabezado común 
header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

.text-welcome {
    text-align: center;
}

Estilos para las secciones 
section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section p {
    text-align: justify;
}

/* Estilos para el aside 
aside {
    background-color: #868686;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

/* Estilos para el footer 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #0045b5;
    font-size: 20px;
}

/* Estilos específicos para cada página */
/* Estilos para la página index.html 
h1 {
    color: #008000;
}

/* Estilos para la página tipos.html 
h3, h4 {
    color: #4b0082;
}

ol {
    margin-left: 30px;
}

/* Estilos para la página login.html 
.login {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}

button img {
    display: block;
}

*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #444;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #337ab7;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
}

.text-welcome {
    text-align: center;
}

section {
    padding: 20px;
}

section p {
    text-align: justify;
}

aside {
    background-color: #e0e0e0;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #0d5477;
    font-size: 25px;
}

h1 {
    color: #d9534f;
}

h3, h4 {
    color: #5bc0de;
}

ol {
    margin-left: 30px;
}

.login {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}

button img {
    display: block;
}
